### TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms.Any error in order form renders it defective and has to be reworked before processing. The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

In [2]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sb
import scipy as sp

In [3]:
order = pd.read_csv('C:/Users/Anirudh MV/Downloads/Costomer+OrderForm.csv')

In [4]:
order.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [5]:
order.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [8]:
Phillippines_value=order['Phillippines'].value_counts()
Indonesia_value=order['Indonesia'].value_counts()
Malta_value=order['Malta'].value_counts()
India_value=order['India'].value_counts()

print(Phillippines_value)
print(Indonesia_value)
print(Malta_value)
print(India_value)

Error Free    271
Defective      29
Name: Phillippines, dtype: int64
Error Free    267
Defective      33
Name: Indonesia, dtype: int64
Error Free    269
Defective      31
Name: Malta, dtype: int64
Error Free    280
Defective      20
Name: India, dtype: int64

In [9]:
chistats = sp.stats.chi2_contingency([[271,267,269,280],[29,33,31,20]])
print('Tvalue:', chistats[0])
print('Pvalue:', chistats[1])

Tvalue: 3.858960685820355
Pvalue: 0.2771020991233135

In [11]:
if chistats[1] < 0.05:
    print('we reject the null hypothisis')
else:
        print('we accept null hypothesis')

we accept null hypothesis

Since variables are not rejected we cannot reject null hypothesis, Conclusion Inference is that proportion of defective percentage across the tele call center is same.